In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv('perfume.csv')

Basic data overview using pandas

In [ ]:
data.shape
# data.drop() #columns
# data.nlargest()
# data.isnull().sum()
# data.url.unique()
# data.nunique(axis=0)
# brand_data = data.groupby('brand').count()
# brand_data.sort_values(by='brand')
# data.Tags.value_counts()
# max, mean, median, min, mode, quantile, rank, round, sum, std, var
# Df = df[x < 50] filtering

In [3]:
data.columns

Index(['url', 'href', 'name', 'brand', 'description', 'category', 'badges',
       'prices', 'topnotes', 'midnotes', 'basenotes', 'Notes', 'Tags', 'Style',
       'Unnamed: 14', 'similar_perfumes'],
      dtype='object')

In [ ]:
data.info()

In [4]:
data = data.drop('Unnamed: 14', axis = 1)

In [14]:
# separated the perfumes from the sample packs into 2 separate dataframes
# simple check that the numbers add up 
print(data.shape)
filter1 = data.brand.str.contains('Pack')==False
filter2 = data.href.str.contains('-set')==False
filter3 = data.name.str.contains('Sanitizer')==False
combined = filter1 & filter2 & filter3
perfume_df = data[combined]

print(perfume_df.shape)

perfume_df['formula'] = np.where(perfume_df.prices.str.contains('EdP'), 'EdP',
                                np.where(perfume_df.prices.str.contains('Eau de Cologne'), 'EdC',
                                        np.where(perfume_df.prices.str.contains('EdC'), 'EdC',
                                                np.where(perfume_df.prices.str.contains('EdT'), 'EdT',
                                                        np.where(perfume_df.prices.str.contains('Parfum'), 'Extrait', 'None')))))



perfume_df = perfume_df.replace(r'£|\[|\]|\'|\"|\?|\#|roll-on', '', regex=True)
# perfume_df = perfume_df.prices.replace(r'EdP\', |EdT\', |Extrait de |Eau de Cologne', '', regex=True) Eau de Cologne
perfume_df.prices = perfume_df.prices.replace(r'EdP|EdT|Extrait de Parfum|Eau de Cologne|EdC|Parfum| ml', '', regex=True)
perfume_df = perfume_df.apply(lambda x: x.str.strip())
# perfume_df


tag = ['Bestseller','Exclusive','For Him','For Her','Unisex','Sexy','Fresh','Sweet','Animalic','Powdery','Clean','Smoky','Normcore','Beast']
category = ['Aromatic','Floral','Green', 'Leather', 'Woody', 'Spicy','Edible', 'Unconventional', 'Citrusy', 'Fruity', 'Marine', 'Vintage/Old School', 'Transparent']
perfume_df['bestseller'] = perfume_df.badges.apply(lambda x: tag[0] in x)
perfume_df['exclusive'] = perfume_df.badges.apply(lambda x: tag[1] in x)
perfume_df.rename(columns={'Style':'gender'}, inplace=True)
perfume_df.gender = perfume_df.gender.astype(str)
perfume_df['for_him'] = perfume_df.gender.apply(lambda x: tag[2] in x)
perfume_df['for_her'] = perfume_df.gender.apply(lambda x: tag[3] in x)
perfume_df['unisex'] = perfume_df.gender.apply(lambda x: tag[4] in x)
perfume_df.rename(columns={'Tags':'tags'}, inplace=True)
perfume_df.tags = perfume_df.tags.astype(str)
perfume_df['sexy'] = perfume_df.tags.apply(lambda x: tag[5] in x)
perfume_df['fresh'] = perfume_df.tags.apply(lambda x: tag[6] in x)
perfume_df['sweet'] = perfume_df.tags.apply(lambda x: tag[7] in x)
perfume_df['animalic'] = perfume_df.tags.apply(lambda x: tag[8] in x)
perfume_df['powdery'] = perfume_df.tags.apply(lambda x: tag[9] in x)
perfume_df['clean'] = perfume_df.tags.apply(lambda x: tag[10] in x)
perfume_df['smoky'] = perfume_df.tags.apply(lambda x: tag[11] in x)
perfume_df['normcore'] = perfume_df.tags.apply(lambda x: tag[12] in x)
perfume_df['beast'] = perfume_df.tags.apply(lambda x: tag[13] in x)
perfume_df.category = perfume_df.category.astype(str)
perfume_df['aromatic'] = perfume_df.category.apply(lambda x: category[0] in x)
perfume_df['floral'] = perfume_df.category.apply(lambda x: category[1] in x)
perfume_df['green'] = perfume_df.category.apply(lambda x: category[2] in x)
perfume_df['leather'] = perfume_df.category.apply(lambda x: category[3] in x)
perfume_df['woody'] = perfume_df.category.apply(lambda x: category[4] in x)
perfume_df['spicy'] = perfume_df.category.apply(lambda x: category[5] in x)
perfume_df['edible'] = perfume_df.category.apply(lambda x: category[6] in x)
perfume_df['unconventional'] = perfume_df.category.apply(lambda x: category[7] in x)
perfume_df['citrusy'] = perfume_df.category.apply(lambda x: category[8] in x)
perfume_df['fruity'] = perfume_df.category.apply(lambda x: category[9] in x)
perfume_df['marine'] = perfume_df.category.apply(lambda x: category[10] in x)
perfume_df['vintage'] = perfume_df.category.apply(lambda x: category[11] in x)
perfume_df['transparent'] = perfume_df.category.apply(lambda x: category[12] in x)
perfume_df['allnotes'] = perfume_df.topnotes.astype(str) + ', ' + perfume_df.midnotes.astype(str) + ', ' + perfume_df.basenotes.astype(str) + ', ' + perfume_df.Notes.astype(str)

perfume_df

# pdf = data.where(data.brand.str.contains('Sample Packs')==True) only for whole object

(968, 15)
(925, 15)

/var/folders/wg/jpbtbjbs0v57v25k9syhsz440000gn/T/ipykernel_80288/3354364956.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  perfume_df['formula'] = np.where(perfume_df.prices.str.contains('EdP'), 'EdP',

,url,href,name,brand,description,category,badges,prices,topnotes,midnotes,...,woody,spicy,edible,unconventional,citrusy,fruity,marine,vintage,transparent,allnotes
0,https://bloomperfume.co.uk/products/salted-gre...,salted-green-mango,Salted Green Mango,Strangers Parfumerie,Bao Mangos and Childhood,nan,"Bestseller, Exclusive","80.00, 30 , 4.00, 1 , 6 tokens, 10",NaN,NaN,...,False,False,False,False,False,False,False,False,False,"nan, nan, nan, Guava Leaves, Vetiver, Chili, B..."
1,https://bloomperfume.co.uk/products/memoirs-of...,memoirs-of-a-trespasser,Memoirs of a Trespasser,Imaginary Authors,Smoky Vanilla,"Edible, Woody",Bestseller,"90.00, 50 , 3.00, 1 , 4 tokens, 10",NaN,NaN,...,True,False,True,False,False,False,False,False,False,"nan, nan, nan, Madagascar Vanilla, Ambrette Se..."
2,https://bloomperfume.co.uk/products/falling-in...,falling-into-the-sea,Falling into the Sea,Imaginary Authors,Salty sunny and zesty,nan,Bestseller,"90.00, 50 , 3.00, 1 , 4 tokens, 10",NaN,NaN,...,False,False,False,False,False,False,False,False,False,"nan, nan, nan, Sea Salt, Sea Spray, Bergamot, ..."
3,https://bloomperfume.co.uk/products/t-rex,t-rex,T-Rex,Zoologist,Indolic Smoky Floral,nan,"Bestseller, Exclusive","210.00, 60 , 7.00, 1 , 7 tokens, 10","Black Pepper, Fir Balsam, Bergamot, Nutmeg, La...","Osmanthus, Ylang-Ylang, Champaca, Smoke, Damas...",...,False,False,False,False,False,False,False,False,False,"Black Pepper, Fir Balsam, Bergamot, Nutmeg, La..."
4,https://bloomperfume.co.uk/products/bee,bee,Bee,Zoologist,Dense Sweet Leather,"Edible, Leather, Woody","Bestseller, Exclusive","210.00, 60 , 7.00, 1 , 7 tokens, 10","Candied Orange, Royal Jelly Accord, Ginger","Broom, Honey, Mimosa, Heliotrope, Orange Blossom",...,True,False,True,False,False,False,False,False,False,"Candied Orange, Royal Jelly Accord, Ginger, Br..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,https://bloomperfume.co.uk/products/pralin-de-...,pralin-de-santal,Praliné de Santal (Discontinued),Pierre Guillaume - Parfumerie Générale,Burlesque Woody,"Edible, Woody",,"117.50, 100 , 81.50, 50 , 2.00, 1 Sample disc...",Hazelnut,"Heliotropine, Cedar",...,True,False,True,False,False,False,False,False,False,"Hazelnut, Heliotropine, Cedar, Cashmeran, Sand..."
963,https://bloomperfume.co.uk/products/garofano,garofano,Garofano,Lorenzo Villoresi,NaN,"Floral, Spicy, Vintage/Old School",New,"135.00, 100 , 4.00, 1 , 3 tokens, 10",NaN,NaN,...,False,True,False,False,False,False,False,True,False,"nan, nan, nan, Spices, Rose, Carnation, Geranium"
965,https://bloomperfume.co.uk/products/tonkamande,tonkamande,Tonkamande (Discontinued),Pierre Guillaume - Parfumerie Générale,Balmy Aldehydes,"Edible, Transparent",,"117.50, 100 , 81.50, 50 , 2.00, 1 Sample disc...",Almond,Aldehydes,...,False,False,True,False,False,False,False,False,True,"Almond, Aldehydes, Tonka Beans, Wheat, Amber, nan"
966,https://bloomperfume.co.uk/products/corps-et-ames,corps-et-ames,Corps et Ames (Discontinued),Pierre Guillaume - Parfumerie Générale,Feminine Chypre,"Green, Transparent",,"117.50, 100 , 81.50, 50 , 2.00, 1 Sample disc...","Verbena, Geranium","Jasmine Sambac, Patchouli",...,False,False,False,False,False,False,False,False,True,"Verbena, Geranium, Jasmine Sambac, Patchouli, ..."
967,https://bloomperfume.co.uk/products/cdre-sanda...,cdre-sandaraque,Cèdre Sandaraque (Discontinued),Pierre Guillaume - Parfumerie Générale,Soft Dry Woody,Woody,,"117.50, 100 , 81.50, 50 , 2.00, 1 Sample disc...",Vetiver,"Praline, Sandarac Resin",...,True,False,False,False,False,False,False,False,False,"Vetiver, Praline, Sandarac Resin, Wheat, Amber..."

The following code is to clean the 'prices' column into separate columns for perfume strength/formula and separate prices for different volume bottles on sale

In [6]:
# split the prices column by the string 'ml' and create a new dataframe to hold these
prices_list = perfume_df.prices.str.split(',')
# reversed the order of the lists so that the strength and the smallest column come first
prices_list = prices_list.apply(lambda x: list(reversed(x)))
# created a new dataframe with the split list 
df_prices = pd.DataFrame(prices_list.tolist()).fillna('').add_prefix('price_')
df_prices = df_prices.drop(['price_0', 'price_1', 'price_2', 'price_3'], axis = 1)
new_columns = ['v_1', 'p_1', 'v_2', 'p_2', 'v_3', 'p_3']
df_prices.columns = new_columns
df_prices = df_prices.apply(lambda x: x.str.strip())
# up_todate = pd.concat([df_prices, df_1, df_2, df_3], axis=1)

df_prices

     v_1     p_1  v_2     p_2 v_3 p_3
0     30   80.00
1     50   90.00
2     50   90.00
3     60  210.00
4     60  210.00
..   ...     ...  ...     ...  ..  ..
920   50   81.50  100  117.50
921  100  135.00
922   50   81.50  100  117.50
923   50   81.50  100  117.50
924   50   81.50  100  117.50

[925 rows x 6 columns]

TO DO
- combine the following code (to_numeric)
- apply the regex cleaning to the original dataframe until only the commas are left - DONE
- create a column where samples 
- prices on is different because it is split a different way
- create the new dataframes with string split then concatenate them all together 
- clean the other columns in pandas: 
    - category
    - badges
    - style
    - notes 
    - similar perfumes
    - tags
- a column that combines all the notes as a new column 
- do the analysis with rbql - grouping
- then matplotlib / seaborn
- then can do some hypothesis testing with python - look at statology.org 
- you can use dbt with vscode - transformation as code defined as SQL scripts !! , write tests with DBT
- work out how to build a network diagram in R for the similar perfumes? orrr just use matplotlib 
- create a separate table for the graphs or analyses that you want

In [8]:
# group by brand 
# some basic summary things 
# group by gender
# group by bestseller
# group by exclusive

df_prices.p_1 = pd.to_numeric(df_prices.p_1, errors='coerce')
df_prices.p_2 = pd.to_numeric(df_prices.p_2, errors='coerce')
df_prices.p_3 = pd.to_numeric(df_prices.p_3, errors='coerce')
df_prices.v_1 = pd.to_numeric(df_prices.v_1, errors='coerce')
df_prices.v_2 = pd.to_numeric(df_prices.v_2, errors='coerce')
df_prices.v_3 = pd.to_numeric(df_prices.v_3, errors='coerce')

df_prices

df_prices['ppml1'] = df_prices.p_1 / df_prices.v_1
df_prices.ppml1= df_prices.ppml1.round(1)
df_prices['ppml2'] = df_prices.p_2 / df_prices.v_2
df_prices.ppml2= df_prices.ppml2.round(1)
df_prices['ppml3'] = df_prices.p_3 / df_prices.v_3
df_prices.ppml3= df_prices.ppml3.round(1)
df_prices

       v_1    p_1    v_2    p_2  v_3  p_3  ppml1  ppml2  ppml3
0     30.0   80.0    NaN    NaN  NaN  NaN    2.7    NaN    NaN
1     50.0   90.0    NaN    NaN  NaN  NaN    1.8    NaN    NaN
2     50.0   90.0    NaN    NaN  NaN  NaN    1.8    NaN    NaN
3     60.0  210.0    NaN    NaN  NaN  NaN    3.5    NaN    NaN
4     60.0  210.0    NaN    NaN  NaN  NaN    3.5    NaN    NaN
..     ...    ...    ...    ...  ...  ...    ...    ...    ...
920   50.0   81.5  100.0  117.5  NaN  NaN    1.6    1.2    NaN
921  100.0  135.0    NaN    NaN  NaN  NaN    1.4    NaN    NaN
922   50.0   81.5  100.0  117.5  NaN  NaN    1.6    1.2    NaN
923   50.0   81.5  100.0  117.5  NaN  NaN    1.6    1.2    NaN
924   50.0   81.5  100.0  117.5  NaN  NaN    1.6    1.2    NaN

[925 rows x 9 columns]